<div style = "color: antiquewhite;"class="container">
  <div *ngIf = "cartProducts.length != 0">
    <div class="table-responsiv">
      <table style = "color: antiquewhite;" class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>Title</th>
            <th>Type</th>
            <th>Number in cart</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let product of productsByNumber">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.type}}</td>
            <td><input type="number" [ngModel]="product.numberofproducts"></td>
            <td><button class="btn btn-sm btn-danger" (click)="removeCartItem(product.id)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="cartProducts.length == 0">
    <div class="text-center"><h4>There are currently no products in the cart</h4></div>
  </div>
</div>
