
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="navbar-brand">Black Friday</div>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="isMenuCollapsed">
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div class="collapse navbar-collapse" id="isMenuCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link" [routerLink]="''" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/cart'" >Cart</a>
      </li>
    </ul>
  </div>
</nav>
<div class="text-center"><h1 style="color: red;">This Is A Mock Site</h1></div>
<router-outlet></router-outlet>
