<div class="container">
  <!--Banner-->
  <div class="row">
    <div class="fb-video" data-href="https://www.facebook.com/facebook/videos/10153231379946729/" data-autoplay= "true" data-show-text="false" data-width=""><blockquote cite="https://developers.facebook.com/facebookapp/videos/10153231379946729/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/facebookapp/videos/10153231379946729/">How to Share With Just Friends</a><p>How to share with just friends.</p>Slået op af <a href="https://www.facebook.com/facebookapp/">Facebook App</a> i Fredag den 5. december 2014</blockquote></div>
    <!--
   In the code above an example video posted by facebook is used. The url needs to changed to the url from the stores page live feed.
    </div> -->
  </div>
    <div style="color: antiquewhite;" class="row pt-4">
      <h5 class="col text-center">Current Deals Ends In:</h5><div class="col"> <div class="timer">
        <span class="minutes"></span>
        <span>:</span>
        <span class="secounds"></span>
      </div></div>
    </div>
    <hr>
    <div class="row">
      <div *ngFor="let productCard of productCards" class="col-sm-4 d-flex align-items-stretch py-1 px-3" >
        <div class="card">
          <img src="{{productCard.url}}" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">{{productCard.title}}</h5> <div class="card-text text-center">{{productCard.price}}</div>
            <hr>
            <div class="card-text text-center">{{productCard.desc}}</div>
            <div class="pt-2 text-center"><button class="btn btn-sm btn-primary" (click)="addToCart(productCard)">Add To Cart</button> </div>
          </div>
        </div>
      </div>
    </div>
</div>
